/* ----------------container-------------------- */
* {
  margin: 0;
  padding: 0;
}
.div1 {
  margin: 15px 70px 0px 70px;
  overflow: hidden;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.logoimg {
  float: left;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  flex: 1;
  float: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: medium;
  font-size: 18px;
  vertical-align: top;
  color: #091018;
}
nav ul li a:hover {
  color: #40a1ff;
}
#signup {
  background-color: #40a1ff;
  border-color: #40a1ff;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  line-height: 30px;
  border-radius: 12px;
  width: 90px;
}
#registerbtn {
  padding: 10px 10px;
  background-color: #40a1ff;
  border-color: #40a1ff;
  font-size: 16px;
  font-family: 'Inter';
  line-height: 33px;
  border-radius: 12px;
}
#login {
  border-color: #40a1ff;
  color: #40a1ff;
  font-size: 16px;
  line-height: 30px;
  border-radius: 12px;
  width: 90px;
}
#videobtn {
  padding: 10px 10px;
  border-color: #40a1ff;
  color: #40a1ff;
  font-size: 16px;
  line-height: 33px;
  border-radius: 12px;
  width: 140px;
}
#videobutton img:hover {
  color: white;
}
#videobtn:hover {
  background-color: white;
  color: #40a1ff;
}
#login:hover {
  color: white;
  background-color: #40a1ff;
}

@font-face {
  font-family: ' Gilroy-SemiBold';
  src: url('fonts/Gilroy-SemiBold.ttf');
}
@font-face {
  font-family: ' Gilroy-Bold';
  src: url('fonts/Gilroy-Bold.ttf');
}
.column1 h6,
.user h6 {
  color: #6bb2ff;
  font-family: ' Gilroy-SemiBold';
  font-size: 20px;
  vertical-align: top;
  letter-spacing: 0.2em;
  line-height: 27px;
}
.column1 h3 {
  font-size: 55px;
  font-family: ' Gilroy-Bold';
  line-height: 80px;
  align: left;
  vertical-align: top;
  color: #091018;
}
.column2 img {
  max-width: 100%;
  height: auto;
}
.buttons .btn {
  margin: 0 10px;
}
.title p {
  font-family: ' Gilroy-SemiBold';
  font-size: 48px;
  color: #091018;
  line-height: 72px;
  align-items: Left;
  vertical-align: top;
}
.descOfuser {
  margin-top: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;

  align-items: Left;
  vertical-align: Top;
  color: #494949;
  text-align: justify;
}
.col .card {
  padding: 1.5em 0.5em 0.5em;
  border-radius: 1.5em;
}
.card-title {
  font-family: ' Gilroy-SemiBold';
  font-size: 28px;
  color: #252525;
  line-height: 32px;
  align-items: Left;
  vertical-align: top;
}
.card-body p {
  
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  align-items: Left;
  vertical-align: top;
  color: #838383;
}
@media screen and (max-width: 768px) {
  nav ul li {
    display: none;
  }
}
