@font-face {
  font-family: 'Gilroy-Regular';
  src: url(/fonts/Gilroy-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url(/fonts/Gilroy-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url(/fonts/Gilroy-Bold.ttf) format('truetype');
}

/* -------------- Navbar-------------- */
.logo{
  margin-top: 20px;
}
nav ul li {
  margin-right: 20px;
  margin-top: 30px;
}
#navbarSupportedContent ul li a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #091018;
}
#navbarSupportedContent ul li a:hover {
  color: #40a1ff;
}
#login {
  padding: 12px 20px;
  border-color: #40a1ff;
  color: #40a1ff;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-radius: 12px;
}
#signup {
  padding: 12px;
  background-color: #40a1ff;
  border-color: #40a1ff;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 19px;
  border-radius: 12px;
}
/* -------------- virtual platform -------------- */

.column1 h6,
.user h6,
.feature p,
.faq h6 {
  margin-top: 200px;
  font-weight: 600;
  color: #6bb2ff;
  font-family: 'Gilroy-Regular';
  font-size: 19px;
  vertical-align: top;
  letter-spacing: 0.2em;
  line-height: 27px;
}
.column1 h3 {
  margin-top: 20px;
  font-size: 72px;
  font-family: 'Gilroy-Bold';
  line-height: 100px;
  align: left;
  vertical-align: top;
  color: #091018;
}
.column2 img {
  max-width: 100%;
  height: auto;
}

#registerbtn {
  padding: 15px 15px;
  background-color: #40a1ff;
  border-color: #40a1ff;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 600;
  line-height: 19px;
  border-radius: 12px;
}

#videobtn {
  padding: 10px 10px;
  border-color: #40a1ff;
  color: #40a1ff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  border-radius: 12px;
}
#videobutton img:hover {
  color: white;
}
#videobtn:hover,
#login:hover {
  background-color: white;
  color: #40a1ff;
}

/* ------------ User experience  --------------- */

.usertitle p,
.title p {
  margin-top: 24px;
  font-weight: lighter;
  font-family: 'Gilroy-SemiBold';
  font-size: 48px;
  color: #091018;
  line-height: 72px;
  align-items: Left;
  vertical-align: top;
}
.descOfuser,
.featureDesc,
.faqdesc p {
  margin-top: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  align-items: Left;
  vertical-align: Top;
  color: #494949;
}

/* ------------ Cards --------------- */

.col .card {
  padding: 1.5em 0.5em 0.5em;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}
.card-title {
  font-family: 'Gilroy-SemiBold';
  font-size: 28px;
  color: #252525;
  line-height: 32px;
  align-items: Left;
  vertical-align: top;
}
.card-body p,
.rightbox p {
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  align-items: Left;
  vertical-align: top;
  color: #838383;
}
.rightbox h5 {
  font-family: 'Gilroy-SemiBold';
  font-size: 28px;
  color: #343434;
  line-height: 42px;
  align-items: Left;
  vertical-align: top;
}

/* ------------  product features content --------------- */

/* pink circle */
.circle {
  position: absolute;
  left: 0px;
}

.leftbox {
  background: linear-gradient(
    180deg,
    #ffacbb 0%,
    rgba(172, 235, 255, 0.92) 100%
  );
  border-radius: 180px;
}
.images {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  margin-top: 30px;
  border-radius: 15px;
  opacity: 0.7;
  border: 10px solid white;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  width: 70%;
  top: 90px;
  left: 15%;
}
.viewAll a {
  font-family: 'Inter';
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.6px;
  color: #5ba1f2;
}
.faqbox {
  border: 1px solid rgba(192, 192, 192, 0.18) !important;
  border-radius: 20px;
}
.faqtitle {
  padding: 35px !important;
  background-color: white !important;
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  color: #494949;
}
.faqtitle:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.faqboxbody p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #838383;
}
.bluebox {
  margin-top: 240px;
  background: rgba(64, 161, 255, 0.87);
  backdrop-filter: blur(92px);
  border-radius: 10px;
}
.boxtext h3 {
  margin-top: 116px;
  text-align: center;
  color: white;
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 42px;
  color: #ffffff;
}
.boxtext p {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 56px;
}
.accesbtn .btn {
  padding: 10px;
  margin-top: 120px;
  color: #40a1ff;
  background-color: #ffffff;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  line-height: 39px;
}

.blueboxpositions {
  position: relative;
  top: 0;
  left: 0;
}
#blueboximage {
  position: absolute;
  top: 200px;
  left: 190px;
}
.container-fluid {
  background-color: #091018;
}
