@font-face {
  font-family: 'Gilroy-Regular';
  src: url(/fonts/Gilroy-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url(/fonts/Gilroy-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url(/fonts/Gilroy-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url(/fonts/Gilroy-Bold.ttf) format('truetype');
}
/* -------------- Navbar-------------- */

.logo1 {
  margin-top: 25px;
}
.logo2 {
  display: none;
}
nav ul li {
  margin-right: 5px;
  margin-top: 25px;
}
.navbar-close p {
  display: none;
}
#navbarSupportedContent ul li a {
  margin-top: 10px;
  margin-right: 15px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #091018;
}
#navbarSupportedContent ul li a:hover {
  color: #40a1ff;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar-close p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091018;
}
#login {
  margin-right: 20px;
  padding: 16px 24px;
  border-color: #40a1ff;
  color: #40a1ff;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-radius: 12px;
}
#signup {
  padding: 16px 24px;
  background-color: #40a1ff;
  border-color: #40a1ff;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 19px;
  border-radius: 12px;
}
#login:hover {
  color: #40a1ff;
  background-color: #deecfc;
}
#signup:hover {
  color: white;
  background: #2f80ed;
}
#login:focus,
#signup:focus {
  outline: 0;
  box-shadow: none;
}
/* -------------- virtual platform -------------- */
.laptop-girl-background {
  position: absolute;
  margin-left: 400px;
  margin-top: 100px;
  height: 500px;
  width: 400px;
  border-radius: 220px;
  transform: rotate(145.9deg) translateZ(0);
  background: linear-gradient(
    180deg,
    #a6d3ff 0%,
    rgba(254, 168, 208, 0.82) 100%
  );
  opacity: 0.7;
  filter: blur(254px);
}
.virtualPlatform-column1 h6,
.user h6,
.feature p {
  margin-top: 250px;
  font-weight: 600;
  color: #40a1ff;
  font-family: 'Gilroy-Regular';
  font-size: 1.1875em;
  vertical-align: top;
  letter-spacing: 0.2em;
  line-height: 27px;
}
.virtualPlatform-column1 h4 {
  display: none;
}
.virtualPlatform-column2 h6 {
  display: none;
}
.faq h6 {
  margin-top: 100px;
  padding-top: 150px;
  font-weight: 600;
  color: #40a1ff;
  font-family: 'Gilroy-Regular';
  font-size: 19px;
  vertical-align: top;
  letter-spacing: 0.2em;
  line-height: 27px;
}
.virtualPlatform-column1 h3 {
  margin-top: 20px;
  font-size: 4.5em;
  font-family: 'Gilroy-Bold';
  line-height: 100px;
  vertical-align: top;
  color: #091018;
}
.virtualPlatform-column2 img {
  margin-top: 220px;
  max-width: 100%;
  height: auto;
}
.virtualPlatform-column2 h4 {
  display: none;
}
#registerbtn {
  padding: 18px 24px;
  background-color: #40a1ff;
  border-color: #40a1ff;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 19px;
  border-radius: 12px;
}
#registerbtn:hover {
  background: #2f80ed;
  outline: 0;
  box-shadow: none;
}
#videobtn {
  padding: 18px 24px;
  padding-left: 55px;
  border-color: #40a1ff;
  color: #40a1ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  border-radius: 12px;
  background: url('./images/homepage/hover-videobtn.svg') no-repeat;
  background-position: 24px 18px;
}

#videobtn:hover {
  background-color: #deecfc;
  background: url('./images/homepage/hover-videobtn.svg') no-repeat, #deecfc;
  background-position: 24px 18px;
}
#videobtn:focus,
#registerbtn:focus {
  box-shadow: none;
}
/* ------------ User experience  --------------- */

.usertitle p,
.title p {
  margin-top: 24px;
  font-weight: lighter;
  font-family: 'Gilroy-SemiBold';
  font-size: 3em;
  color: #091018;
  line-height: 72px;
  align-items: Left;
  vertical-align: top;
}
.descOfuser,
.featureDesc,
.faqdesc p {
  margin-top: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  align-items: Left;
  vertical-align: Top;
  color: #494949;
}

/* ------------ Cards --------------- */

.col .card {
  border-radius: 20px;
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.card-title {
  font-family: 'Gilroy-SemiBold';
  font-size: 28px;
  color: #252525;
  line-height: 32px;
  align-items: Left;
  vertical-align: top;
}
.card-body p,
.boxtwo p,
.feature-desc-box-carousel p {
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  align-items: Left;
  vertical-align: top;
  color: #838383;
}
.boxtwo h5,
.feature-desc-box-carousel h5 {
  font-family: 'Gilroy-SemiBold';
  font-size: 28px;
  color: #343434;
  line-height: 42px;
  align-items: Left;
  vertical-align: top;
}

/* ------------  product features content --------------- */
.product {
  position: relative;
  top: 0;
  left: 0;
}
/* pink circle */
.circle {
  position: absolute;
  left: -250px;
  margin-top: -90px;
  opacity: 0.3;
}
.circle-carousel {
  position: absolute;
  top: -50px;
  margin-left: -120px;
  opacity: 0.3;
}
.boxone {
  margin-right: 330px;
  margin-left: -100px;
  background: linear-gradient(
    180deg,
    #ffacbb 0%,
    rgba(172, 235, 255, 0.92) 100%
  );
  opacity: 0.5;
  border-radius: 180px;
  filter: blur(274px);
  transform: rotate(-15.72deg) translateZ(0);
  height: 500px;
}
.first-image-home {
  position: absolute;
  top: 90px;
  margin-left: 30px;
  border-radius: 15px;
  width: 35%;
  opacity: 0.5;
}
.second-image-home {
  position: absolute;
  top: 20%;
  left: 90px;
  border-radius: 15px;
  width: 73%;
}
.viewAll {
  margin-left: 60%;
  margin-top: 30px;
}
.viewAll a {
  font-family: 'Inter';
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.6px;
  color: #5ba1f2;
}

.a {
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
}
.a .arrow {
  top: -3px;
  width: 20px;
  transition: all 0.3s ease;
}
.viewAll:hover .arrow {
  width: 60px;
}
.arrow {
  border: 1px solid #40a1ff;
  position: relative;
  background: #40a1ff;
}

.arrow .head,
.arrow .head:after {
  border: 0.5px solid #40a1ff;
  border-radius: 7px;
  width: 7px;
  position: absolute;
  top: 1px;
  right: -3px;
  transform: rotate(-45deg);
}

.arrow .head:after {
  content: '';
  border-color: #40a1ff;
  right: -4px;
  top: -4px;
  transform: rotate(90deg);
}

.assessment-para,
.descr-carousel-para {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.for-carousal {
  height: 540px;
}
.carousel-container {
  height: 540px;
}
.carousel-control-prev,
.carousel-control-next {
  align-items: flex-end;
  margin-top: 540px;
  width: 40px;
  margin-bottom: -50px;
}
.carousel-control-prev {
  margin-left: 88%;
}
.carousel-control-next {
  margin-right: 2%;
}
.carousel-picture {
  margin-top: 100px;
}
/* ------------------ FAQ -------------- */

.accordion {
  border-radius: 15px;
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.accordion:hover {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
.horrizondal {
  margin-top: -10px;
}
.accordion-item {
  border: none;
  border-radius: 15px !important;
}
.accordion-button {
  padding: 25px !important;
  border-radius: 15px !important ;
  background-color: white !important;
  margin-top: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #494949;
}
.accordion-body p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #838383;
}
.accordion-button:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed):focus {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
}
.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed):focus {
  color: #40a1ff;
}
.accordion-button:after {
  background-image: url('./images/homepage/up-arrow.svg') !important;
  transform: rotate(180deg);
}
.accordion-button:not(.collapsed)::after {
  transform: rotate(0deg);
}
.faq-background-part {
  background: #fcfcfc;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  padding-bottom: 350px;
  margin-bottom: -110px;
}
/* ------------ blue box -------- */

.bluebox {
  margin-top: -100px;
  background: rgba(64, 161, 255);
  backdrop-filter: blur(92px);
  border-radius: 10px;
  transform: translateZ(0);
}
.boxtext h3 {
  margin-top: 50px;
  margin-left: 60px;
  color: white;
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 42px;
  color: #ffffff;
}
.boxtext p {
  margin-left: 60px;
  margin-bottom: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.accesbtn .btn {
  color: #40a1ff;
  background-color: #ffffff;
  border: none;
  border-radius: 12px;
  line-height: 39px;
  margin: 50px 40px 20px 40px;
}
.accesbtn .btn:hover {
  box-shadow: 0 0 5px white;
}
.accesbtn .btn:focus {
  box-shadow: none;
}
.blueboxposition {
  margin-bottom: -140px;
  position: relative;
  top: 0;
  left: 0;
}
#hatimage {
  margin-top: -30px;
  margin-left: 5%;
}

/* ------------- Contact ----------- */
.firstcol {
  margin-left: -140px;
}
.firstcol img {
  margin-left: 0px;
}
.contact {
  padding: 170px;
  padding-bottom: 30px;
}
.footerRow {
  column-gap: 4%;
}
.second-footer-image {
  display: none;
}
.firstcol p,
.secondcol ul li,
.feature-secondcol ul li,
.thirdcol ul li a,
.feature-thirdcol ul li a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
.secondcol h3,
.feature-secondcol h3,
.thirdcol h3,
.feature-thirdcol h3 {
  color: white;
}
.fluid {
  background-color: #091018;
}
.feature-secondcol a {
  text-decoration: none;
}
/* ------------- Copy right  ----------- */

.copyright {
  background: #1e1e1e;
}
.copyright .p1 {
  margin-left: 10px;
}
.copyright .p2 {
  text-align: right;
}
.copyright .p3 {
  text-align: right;
  padding-right: 20px;
}
.copyright .p1,
.p2,
.p3 {
  font-family: 'Inter';
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin: 20px 0px;
}
.p2 a,
.p3 a {
  text-decoration: none;
  color: white;
}
.copy {
  background: #1e1e1e;
}

/* * * * * * * * * Contact form  * * * * * * * * */

.contactlogo {
  width: 90%;
}
.modal-header {
  border-bottom: 0 none;
}
.btn-close {
  font-size: 11px;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=90);
  opacity: 0.98;
}
.btn-close:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.form {
  margin-top: 50px;
}
.form-title h3 {
  font-family: 'Gilroy-Bold';
  font-size: 35px;
  line-height: 72px;
  color: #091018;
}
.form-title p {
  margin-top: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #5f5f5f;
}
form .label {
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 26px;
  color: #091018;
}
input {
  padding-bottom: 20px !important;
  border-bottom: 1px solid #b5b5b5 !important;
  padding-left: 0 !important;
}
input:focus {
  box-shadow: none !important;
  border-bottom: 1px solid red !important;
}
input::placeholder,
textarea::placeholder {
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 20px !important;
  line-height: 26px !important;
  color: #939393;
}
textarea {
  padding-bottom: 10px !important;
  border-bottom: 1px solid #b5b5b5 !important;
  padding-left: 0 !important;
}
textarea:focus {
  box-shadow: none !important;
  border-bottom: 1px solid red !important;
}
#name-error,
#email-error,
#message-error {
  color: #ee4057;
  margin-top: 10px;
  display: none;
}
#name,
#email,
#message {
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 0;
  word-break: break-all;
}
.top-background {
  position: absolute;
  top: -50px;
  right: 0;
  background: linear-gradient(
    180deg,
    #a6d3ff 0%,
    rgba(255, 125, 186, 0.9) 100%
  );
  opacity: 0.9;
  filter: blur(220px);
  border-radius: 180px;
  transform: rotate(145.9deg) translateZ(0);
  height: 300px;
  width: 300px;
}

.submit-btn {
  border: 1px #40a1ff !important;
  background: #40a1ff !important;
  border-radius: 12px !important;
  font-size: 15px !important;
  line-height: 19px !important;
  display: flex;
  align-items: center;
  padding: 16px 24px !important;
}

/* * * * * * * * * Product feature page  * * * * * * * * */

/* ------------- Home ----------- */
.firstimage {
  margin-top: 100px;
}
.first-title h3 {
  font-family: 'Gilroy-SemiBold';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #091018;
  letter-spacing: 1px;
}
.first-title p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #838383;
}
.product-feature-responsive {
  display: none;
}
/* -------------  Qualification & Courses Management  ----------- */
.top-part {
  margin-top: 150px;
}
.feature-imgboxes-one {
  position: relative;
  top: 0;
  left: 0;
}
.feature-one-backgrnd {
  margin-left: -100px;
  margin-right: 250px;
  background: linear-gradient(
    180deg,
    #ffacbb 0%,
    rgba(172, 235, 255, 0.92) 100%
  );
  opacity: 0.5;
  filter: blur(234px);
  border-radius: 180px;
  transform: rotate(-15.72deg) translateZ(0);
  height: 600px;
}
.first-image {
  position: absolute;
  top: 40px;
  left: 0;
  border-radius: 15px;
  width: 55%;
  opacity: 0.6;
}
.second-image {
  position: absolute;
  top: 18%;
  left: 90px;
  border-radius: 15px;
  width: 73%;
}
.feature-desc-box h5,
.descripton-box h5 {
  font-family: 'Gilroy-Regular';
  font-weight: 600;
  font-size: 42px;
  line-height: 63px;
  color: #343434;
}
.feature-desc-box p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #838383;
}
/* -------------  Class Room Experience with Unit Wise Feed  ----------- */

/* green circle */

.greencircle {
  position: absolute;
  right: -380px;
  margin-top: 210px;
  opacity: 0.2;
}

.feature-imgboxes-two {
  position: relative;
  top: 0;
  left: 0;
}
.feature-two-backgrnd {
  margin-top: -40px;
  margin-right: -100px;
  margin-left: 400px;
  background: linear-gradient(
    123.23deg,
    #60e6ef 12.72%,
    rgba(239, 239, 96, 0.97) 78.47%
  );
  opacity: 0.5;
  filter: blur(234px);
  transform: translateZ(0);
  border-radius: 180px;
  height: 500px;
}
.white-rectangle {
  position: absolute;
  top: 20px;
  right: 0px;
  border-radius: 15px;
  width: 55%;
  opacity: 0.5;
}
.classroom-image {
  position: absolute;
  top: 18%;
  right: 90px;
  border-radius: 15px;
  width: 68%;
}
/* ------------- Instant & scheduled real time video classes ----------- */

/* blue background */
.feature-imgboxes-three {
  position: relative;
  top: 0;
  left: 0;
}
.feature-three-backgrnd {
  margin-left: -200px;
  margin-right: 400px;
  background: linear-gradient(
    180deg,
    #acfaff 0%,
    rgba(199, 172, 255, 0.92) 100%
  );
  opacity: 0.6;
  filter: blur(234px);
  transform: translateZ(0);
  border-radius: 180px;
  height: 700px;
}

/* ------------- Recorded video sessions ----------- */

.feature-imgboxes-four {
  position: relative;
  top: 0;
  left: 0;
}
.feature-four-backgrnd {
  margin-right: -250px;
  margin-left: 310px;
  background: linear-gradient(
    128.99deg,
    #ff82a0 20.17%,
    rgba(239, 239, 96, 0.96) 89.45%
  );
  opacity: 0.5;
  filter: blur(234px);
  border-radius: 180px;
  transform: rotate(20.19deg) translateZ(0);
  height: 500px;
}
/* ------------- Time and Schedule Management ----------*/
.box-five {
  position: relative;
  top: 0;
  left: 0;
}
/* violet circle */
.violet-circle {
  position: absolute;
  left: -170px;
  top: 320px;
  opacity: 0.4;
}
.feature-five-backgrnd {
  margin-left: -250px;
  margin-top: -100px;
  margin-right: 360px;
  background: linear-gradient(
    180deg,
    #acfaff 6.31%,
    rgba(199, 172, 255, 0.92) 100%
  );
  opacity: 0.5;
  filter: blur(224px);
  transform: translateZ(0);
  border-radius: 180px;
  height: 600px;
}
.feature-imgboxes-five {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 150px;
}
/* ------------- attendance Management ----------*/

.feature-imgboxes-six {
  position: relative;
  top: 0;
  left: 0;
}
.feature-six-backgrnd {
  margin-right: -250px;
  margin-left: 310px;
  background: linear-gradient(
    123.23deg,
    #ff82a0 12.72%,
    rgba(239, 239, 96, 0.96) 88.47%
  );
  opacity: 0.6;
  filter: blur(224px);
  border-radius: 180px;
  transform: rotate(10.19deg) translateZ(0);
  height: 560px;
}
/* ------Assessment management with automated audit evidence system -------*/

.feature-imgboxes-seven {
  position: relative;
  top: 0;
  left: 0;
}
.feature-seven-backgrnd1 {
  margin-left: -200px;
  margin-right: 450px;
  background: linear-gradient(
    180deg,
    #acfaff 0%,
    rgba(170, 134, 241, 0.99) 100%
  );
  opacity: 0.6;
  filter: blur(224px);
  transform: translateZ(0);
  border-radius: 180px;
  height: 600px;
}
.feature-seven-backgrnd2 {
  position: absolute;
  top: 250px;
  left: -150px;
  height: 400px;
  width: 400px;
  background: #ef6079;
  opacity: 0.1;
  filter: blur(234px);
  border-radius: 180px;
  transform: translateZ(0);
}
/* ------Student Portfolio -------*/

.feature-imgboxes-eight {
  position: relative;
  top: 0;
  left: 0;
}
.feature-eight-backgrnd {
  margin-right: -240px;
  margin-left: 330px;
  background: linear-gradient(
    127.71deg,
    #d782ff 23.24%,
    rgba(96, 239, 196, 0.66) 76.78%
  );
  opacity: 0.5;
  filter: blur(244px);
  border-radius: 180px;
  transform: rotate(20.19deg) translateZ(0);
  height: 500px;
}
/* ------Teacher profile -------*/

.feature-imgboxes-nine {
  position: relative;
  top: 0;
  left: 0;
}
.feature-nine-backgrnd {
  margin-left: -240px;
  margin-right: 330px;
  background: #ef6079;
  opacity: 0.2;
  filter: blur(244px);
  border-radius: 180px;
  transform: rotate(-1.9deg) translateZ(0);
  height: 500px;
}
/* ------Public & Class specific library-------*/

.feature-imgboxes-ten {
  position: relative;
  top: 0;
  left: 0;
}
.feature-ten-backgrnd {
  margin-right: -200px;
  margin-left: 330px;
  background: linear-gradient(
    123.23deg,
    #ff82a0 12.72%,
    rgba(239, 239, 96, 0.96) 88.47%
  );
  opacity: 0.6;
  filter: blur(244px);
  border-radius: 180px;
  transform: rotate(20.19deg) translateZ(0);
  height: 500px;
}
/* --------- Feature-footer-------- */

.featurefooter {
  background-color: #091018;
}
.feature-container {
  padding-top: 150px;
  padding-bottom: 50px;
}
.contact {
  padding-top: 170px;
  padding-bottom: 30px;
}
.footerRow {
  column-gap: 4%;
}
.feature-firstcol p,
.feature-thirdcol ul li {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
/* * * * * * * * * * * *  pricing page styles * * * * * * * * * * * * */

.price-title h3,
h4 {
  font-family: 'Gilroy-Bold';
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  text-transform: capitalize;
  color: #091018;
}
.price-title h4 {
  margin-top: -30px;
}
.price-title h3 {
  margin-top: 100px;
}
.price-title p {
  margin-top: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #838383;
}
.card-price-symbol h2 {
  display: block;
  float: right;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #2f80ed;
}
.card-price h1 {
  display: block;
  margin-top: -5px;
  float: right;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #2f80ed;
}
.price-desc p {
  float: right;
  margin-right: -40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #2f80ed;
}
.description {
  margin-top: -10px;
}
.description h6 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #a1a1a1;
}
.card .btn {
  margin: 30px;
}
.card {
  border-radius: 10px;
}
.card .btn {
  border-radius: 12px;
  padding: 14.5px 24px;
  background: #2f80ed;
  border: 1px solid #2f80ed;
}
.col .middle-col {
  background: #2f80ed;
}
.middle-col-text h2,
.middle-col-text h1,
.middle-col-text p {
  color: white;
}
.middle-col-text,
.middle-col-text h6 {
  color: white;
}
.middle-col .btn {
  background-color: white;
  color: #2f80ed;
}
.disabled-title {
  color: #a1a1a1;
}
.middle-col li {
  color: white;
}
.price-one-backgrnd {
  margin-left: -100px;
  margin-right: 250px;
  background: linear-gradient(
    180deg,
    #ffacbb 0%,
    rgba(172, 235, 255, 0.9) 100%
  );
  opacity: 0.5;
  filter: blur(204px);
  border-radius: 180px;
  transform: rotate(-15.72deg) translateZ(0);
  height: 970px;
  width: 400px;
}
.price-two-backgrnd {
  position: absolute;
  top: 400px;
  right: 0;
  margin-right: -100px;
  background: linear-gradient(
    180deg,
    #acfaff 0%,
    rgba(199, 172, 255, 0.99) 100%
  );
  opacity: 0.7;
  filter: blur(180px);
  border-radius: 180px;
  transform: rotate(-41.18deg) translateZ(0);
  height: 470px;
  width: 400px;
}
.price-row {
  position: absolute;
  top: 0;
  width: 100%;
}
.price-page-circle {
  position: absolute;
  left: -250px;
  top: 640px;
  opacity: 0.4;
}
.price-rectangle-image img {
  position: absolute;
  top: 300px;
  margin-left: -70px;
  border-radius: 15px;
  width: 110%;
  height: auto;
}
.violet-circle-pricepage {
  position: absolute;
  right: -200px;
  top: 350px;
  opacity: 0.2;
}
.card ul li {
  font-size: 1em;
}
.pricepage-bluebox {
  margin-top: 250px;
}
/* * * * * * * * * * * *  privacy page styles * * * * * * * * * * * * */
.privacy-title h3 {
  margin-top: 100px;
  font-family: 'Gilroy-Bold';
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  text-transform: capitalize;
  color: #091018;
}
.privacy-title p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #838383;
}
.privacy-page-titles h4 {
  text-align: left;
  margin-top: 50px;
  font-family: 'Gilroy-SemiBold';
  font-size: 28px;
  line-height: 42px;
  text-transform: capitalize;
  color: #091018;
}
.privacy-page-titles p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #838383;
}
.privacy-content {
  position: absolute;
  top: 0;
  margin-top: 100px;
}
.privacy-one-backgrnd {
  position: absolute;
  top: 700px;
  left: 500px;
  background: rgba(199, 172, 255, 0.7);
  opacity: 0.4;
  filter: blur(180px);
  border-radius: 270px;
  transform: rotate(-151.18deg) translateZ(0);
  height: 470px;
  width: 900px;
}
.privacy-two-backgrnd {
  position: absolute;
  top: 900px;
  left: 500px;
  background: #acfaff;
  opacity: 0.5;
  filter: blur(200px);
  border-radius: 200px;
  transform: rotate(-61.18deg) translateZ(0);
  height: 870px;
  width: 400px;
}
.privacy-three-backgrnd {
  position: absolute;
  top: 400px;
  left: -150px;
  background: #ffacbb;
  opacity: 0.4;
  filter: blur(200px);
  border-radius: 200px;
  transform: rotate(-61.18deg) translateZ(0);
  height: 300px;
  width: 400px;
}
.privacy-four-backgrnd {
  position: absolute;
  top: 1500px;
  left: -100px;
  background: linear-gradient(
    123.23deg,
    #60e6ef 32.72%,
    rgba(239, 239, 96, 0.96) 48.47%
  );
  opacity: 0.3;
  filter: blur(200px);
  border-radius: 200px;
  transform: rotate(-61.18deg) translateZ(0);
  height: 570px;
  width: 500px;
}
.privacy-bluebox {
  margin-top: 250px;
}
.privacy-page-titles p a {
  text-decoration: none;
  color: #40a1ff;
}
.col .card:hover {
  box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.08);
}
/* ------------------------ Responsive ----------------------------- */

@media screen and (min-width: 320px) and (max-width: 510px) {
  .logo1 {
    display: none;
  }
  .logo2 {
    display: block;
  }
  .navbar-icon img {
    display: block;
  }
  .navbar-close p {
    display: none;
  }
  .navbar-toggler:not(.collapsed) .navbar-close p {
    display: block;
  }
  .navbar-toggler:not(.collapsed) .navbar-icon img {
    display: none;
  }
  .firstimage {
    margin-top: 60px;
  }
  .heading {
    width: 100vw;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0;
  }
  .product-feature-responsive {
    display: block;
    margin-top: 50px;
    margin-bottom: -30px;
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #6bb2ff;
  }
  .virtualPlatform-column2 h6 {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    line-height: 27px;
    color: #40a1ff;
    font-family: 'Gilroy-Regular';
    letter-spacing: 0.095em;
    line-height: 27px;
  }
  .virtualPlatform-column2 h4 {
    text-align: center;
    display: block;
    font-family: 'Gilroy-Semibold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #091018;
  }
  .virtualPlatform-column1 h3,
  .virtualPlatform-column1 h6 {
    display: none;
  }
  .virtualPlatform-column2 img {
    margin-top: 40px;
  }
  #registerbtn {
    margin-top: 40px;
    padding: 15px 60px;
    width: 98%;
    font-size: 14px;
    line-height: 14px;
  }
  #videobtn {
    margin-top: 20px;
    padding: 15px 60px;
    width: 98%;
    font-size: 14px;
    line-height: 14px;
    background-position: 100px 12px;
  }
  #videobtn:hover {
    background-position: 100px 12px;
  }
  .virtualPlatform-column1 h6,
  .user h6,
  .feature p {
    font-size: 10px;
    line-height: 27px;
  }
  .usertitle p,
  .title p {
    margin-top: 0px;
    font-size: 24px;
    line-height: 36px;
  }
  .descOfuser,
  .featureDesc,
  .faqdesc p {
    font-size: 16px;
    line-height: 28px;
  }
  .card-title {
    font-size: 20px;
    line-height: 30px;
  }
  .boxtwo p,
  .feature-desc-box-carousel p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .for-carousal {
    height: 730px;
  }
  .carousel-container {
    height: 730px;
  }
  .carousel-picture {
    margin-top: 10px;
    margin-bottom: 180px;
  }
  .second-image-home,
  .second-image {
    left: 10%;
    border-radius: 15px;
    width: 80%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 730px;
    margin-bottom: -50px;
  }
  .carousel-control-prev {
    margin-left: 63%;
  }
  .carousel-control-next {
    margin-right: 7%;
  }

  .virtualPlatform-column1 h6,
  .user h6,
  .feature p {
    margin-top: 100px;
  }
  .faq h6 {
    margin-top: 100px;
    padding-top: 10px;
    font-size: 10px;
    line-height: 27px;
  }
  .accordion-button {
    font-size: 16px;
    line-height: 32px;
  }
  #hatimage {
    margin-left: 30%;
    width: 35%;
  }
  .boxtext h3 {
    margin-top: 24px;
    margin-left: 28px;
    font-size: 24px;
    text-align: center;
  }
  .boxtext p {
    margin-left: 6px;
    font-size: 16px;
    text-align: center;
  }
  .accordion {
    margin-top: 30px !important;
  }
  .accesbtn .btn {
    line-height: 39px;
    margin: 10px 20px 20px 20px;
    font-size: 16px;
  }
  .boxtwo h5,
  .feature-desc-box-carousel h5 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-top: 20px !important;
  }
  .boxtwo img {
    margin-top: 30px;
    margin-left: 40%;
  }
  .accordion-button {
    padding: 18px !important;
  }
  .faq-background-part {
    padding-bottom: 200px;
  }
  .first-footer-image {
    display: none;
  }
  .second-footer-image {
    display: block;
    margin-left: 0px;
  }
  .firstcol p,
  .feature-firstcol p,
  .feature-thirdcol ul li {
    font-size: 16px;
    line-height: 24px;
  }
  .carousel-control-prev-icon img,
  .carousel-control-next-icon img {
    width: 130%;
  }
  .carousel-control-prev {
    margin-left: 37%;
  }
  .carousel-control-next {
    margin-right: 37%;
  }
  .viewAll {
    margin-left: 38%;
    margin-top: 90px;
  }
  .first-title h3 {
    font-size: 32px;
    line-height: 48px;
  }
  .first-title p {
    font-size: 16px;
    line-height: 24px;
  }
  .feature-desc-box {
    margin-top: -100px;
  }
  .feature-desc-box h5 {
    font-size: 24px;
    line-height: 36px;
  }
  .feature-desc-box p {
    font-size: 16px;
    line-height: 28px;
  }
  .classroom-responsive .feature-desc-box {
    margin-top: 170px;
  }
  .instant-responsive .feature-desc-box {
    margin-top: 160px;
  }
  .recorded-responsive .feature-desc-box {
    margin-top: 270px !important;
  }
  .time-responsive .feature-desc-box {
    margin-top: 180px !important;
  }
  .attendance-responsive .feature-desc-box {
    margin-top: 230px !important;
  }
  .assessment-responsive .feature-desc-box {
    margin-top: 130px !important;
  }
  .student-responsive .feature-desc-box {
    margin-top: 100px !important;
  }
  .teacher-responsive .feature-desc-box {
    margin-top: 70px !important;
  }
  .public-responsive .feature-desc-box,
  .management-responsive .feature-desc-box {
    margin-top: 100px !important;
  }
  .TAS-responsive .feature-desc-box {
    margin-top: 80px !important;
  }
  .feature-secondcol h3,
  .secondcol h3,
  .thirdcol h3,
  .feature-thirdcol h3 {
    font-size: 24px;
    line-height: 42px;
    font-weight: 500;
  }
  .feature-secondcol ul li,
  .secondcol ul li,
  .feature-thirdcol ul li a,
  .thirdcol ul li a {
    font-size: 16px;
    line-height: 28px;
  }
  .circle,
  .greencircle,
  .feature-one-backgrnd,
  .feature-two-backgrnd,
  .feature-three-backgrnd,
  .feature-four-backgrnd,
  .violet-circle,
  .feature-five-backgrnd,
  .feature-six-backgrnd,
  .feature-seven-backgrnd1,
  .feature-seven-backgrnd2,
  .feature-eight-backgrnd,
  .feature-nine-backgrnd,
  .feature-ten-backgrnd,
  .feature-two-backgrnd,
  .price-one-backgrnd,
  .price-two-backgrnd,
  .price-rectangle-image,
  .price-page-circle,
  .violet-circle-pricepage,
  .privacy-one-backgrnd,
  .privacy-two-backgrnd,
  .privacy-three-backgrnd,
  .privacy-four-backgrnd {
    display: none;
  }
  .contact {
    padding: 0px;
    padding-bottom: 0px;
  }
  .firstcol {
    padding-top: 150px;
    margin-left: 0px;
  }
  .copyright .p2 {
    text-align: right;
    margin-top: 0px;
    width: 50%;
  }
  .copyright .p3 {
    width: 50%;
    text-align: left;
    margin-top: 0px;
  }
  .laptop-girl-background {
    display: none;
  }
  .classroom-image,
  .second-image {
    margin-top: 50px;
  }
  .feature-imgboxes-five {
    margin-top: 0px;
  }
  #navbarSupportedContent ul li a {
    line-height: 1px;
    font-size: 25px;
    line-height: 30px;
    color: #3e3e3e;
    font-size: 'Gilroy-SemiBold';
  }
  #login {
    margin-top: 10px;
    padding: 10px 54px;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
  }
  #signup {
    margin-top: 10px;
    padding: 10px 45px;
    font-size: 14px;
  }
  .login-signup {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .about {
    margin-top: 50px;
  }
  .price-title h3,
  h4 {
    font-family: 'Gilroy-SemiBold' !important;
    font-size: 32px !important;
    line-height: 48px !important;
    text-align: center;
    color: #091018 !important;
  }
  .pricepage-bluebox {
    margin-top: 2600px !important;
  }
  .price-title h3 {
    margin-top: 30px !important;
  }
  .price-title p {
    font-size: 16px;
  }
  .privacy-title h3 {
    margin-top: 50px;
    font-family: 'Gilroy-SemiBold';
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #091018;
  }
  .privacy-page-titles h4 {
    font-size: 24px !important;
    line-height: 36px !important;
  }
  .privacy-title p {
    font-size: 16px !important;
    line-height: 27px !important;
  }
}

/* * * * * * * * * * * *  media-tablet * * * * * * * * * * * * */

@media screen and (min-width: 511px) and (max-width: 1000px) {
  .boxtwo img {
    padding-top: 200px;
  }
  .for-carousal {
    height: 1000px;
  }
  .carousel-container {
    height: 1000px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    margin-bottom: 150px;
  }
  .circle,
  .greencircle,
  .feature-one-backgrnd,
  .feature-two-backgrnd,
  .feature-three-backgrnd,
  .feature-four-backgrnd,
  .violet-circle,
  .feature-five-backgrnd,
  .feature-six-backgrnd,
  .feature-seven-backgrnd1,
  .feature-seven-backgrnd2,
  .feature-eight-backgrnd,
  .feature-nine-backgrnd,
  .feature-ten-backgrnd,
  .feature-two-backgrnd,
  .faq-background-part,
  .laptop-girl-background {
    display: none;
  }
  .carousel-control-prev {
    margin-left: 40%;
  }
  .carousel-control-next {
    margin-right: 37%;
  }
  .second-image-home {
    width: 60%;
  }
  .pricepage-bluebox {
    margin-top: 1500px !important;
  }
}
